$c-black: #000;
$c-white: #fff;
$c-gray: #ccc;
$c-red: #f38181;
$c-yellow: #fbe389;
$c-red-transparency: #f38181e1;
$c-yellow-transparency: #fbe389e1;
$c-green-light: #eaffd0;
$c-green: #95e1d3;
$c-green-dark: #4b9a8c;
