@use "./../utils/mixins" as m;
@use "./../abstracts/colors" as c;
@use "./../abstracts/breakpoints" as b;
.services {
  @include m.grid(250px, 20px);

  &__item {
    @include m.flex(column, center, 20px);
    padding-bottom: 20px;
    border-bottom: 1px solid c.$c-gray;
  }

  &__icon {
    fill: c.$c-green;
  }

  &__content {
    @include m.flex(column, center, 20px);
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .services {
    gap: 70px;

    &__item {
      @include m.flex(row, center, 30px, flex-start);
      padding-bottom: 0px;
      border: none;
    }

    &__content {
      align-items: flex-start;
      text-align: left;
    }
  }
}
