@mixin font($family, $fallback, $weight: 400, $size: 15px) {
  font-family: $family, $fallback;
  font-weight: $weight;
  font-size: $size;
}

@mixin font-simple($size: 15px, $weight: 400, $color: #000) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $gap: 0,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin grid($min, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}

@mixin grid-centered($gap, $justify: normal) {
  display: grid;
  gap: $gap;
  justify-items: $justify;
}

@mixin transition($property, $time: 350ms, $function: linear) {
  transition: $property $time $function;
}

@mixin transition-large(
  $property1,
  $property2,
  $property3: null,
  $time: 350ms,
  $function: linear
) {
  transition-property: $property1, $property2, $property3;
  transition-duration: $time;
  transition-timing-function: $function;
}
